---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
Standard: c++17
IndentWidth: 2
TabWidth: 2
UseTab: Never
NamespaceIndentation: None
ColumnLimit: 120

AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Attach
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
...